@import "hyperapp://./water.min.css";

body {
    font-size: 1.5em;
    max-width: none;
}

li div { width: 100%; }

div button {
    display: flex;
    justify: flex-end;
    font-size: 150%;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

div.editable {
    border: none;
    padding: 0;
    outline: none;
}

div.editor {
    border: 1px solid #ccc;
    padding: 0.5em;
    outline: none;
    border-radius: 8px !important;
    box-sizing: border-box;
}

div.editor_tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editable:empty:before {
    content: attr(placeholder); /* Use the placeholder text */
    color: #aaa; /* Placeholder text color */
    pointer-events: none; /* Make placeholder text unselectable */
    display: block;
}

body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, macOS */
}
